/* Streaming template CSS */

p.edd-no-downloads {
    padding: 3%;
    text-align: center;
}

.i_sdc_div {
    background: #eee;
    border: 0px solid #ccc;
    margin: 0px auto;
    padding: 10px 10px;
}

[data-icon]:before {
    display: none;
}

#header-space {
    background-color: black;
}

div.easy-streamer-holder {
    font-size: 1em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    color: #555;
    min-height: 100vh;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    /*background-image: url('');*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0;

    transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

::-webkit-scrollbar { 
    display: none; 
}

.main-section>header {
    height: 50px;
    background-color: black;
    color: white;
    line-height: 50px;
    margin-bottom: 0px;
    padding: 1em;
    border-bottom: #3f3f3f;
}

.wrap {
    width: 100%;
    max-width: 960px;
    display: block;
    margin: 0px auto;
}

div.hidden,
.hidden {
    display: none;
}

a:link,
a:visited,
a:active {
	color: #8A95B1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	padding: 0.5em 0;
}

h1.page {
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -1px;
    display: block;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

h1.lobster {
    font-size: 2em;
    font-family: "Open Sans", cursive;
    font-weight: normal;
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
}

h2.stream-header {
    color: #888;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 1px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

hr.stream-header {
    border: 2px solid #aaa;
}

section.bg-head {
    width: 100%;
    min-height: 60vh;
    height: 60vh;
    display: table;
    background: none;
    color: #fff;
    padding: 0px 0;
    margin: 0px auto;
}

section.bg-head div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('grid.png');
    background-repeat: repeat;
}

section.bg-head div p {
    max-width: 80%;
    display: inline-block;
    margin: 20px auto;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

section.bg-head div p.bg {
    padding: 5px;
    line-height: 1.6em;
    font-size: 1.4em;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

section.bg-head div p img {
    display: block;
    max-height: 100px;
    margin: 0px auto 0px auto;
}

section.bg-head div p.large {
    font-size: 60px;
}

section.bg-head div p a:link,
section.bg-head div p a:visited,
section.bg-head div p a:active {
    color: #aaa;
    text-decoration: none;
}

section.bg-head div p a:hover {
    color: #fff;
    text-decoration: underline;
}

/** STREAMS SECTION **/

div.main-content {
    background-color: #fff; 
}

section.streams-holder {
    width: 60%;
    margin: 0px auto 0px auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

section.filters {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    background-color: #efefef;
}

section.filters ul {
    list-style: none;
    list-style-type: none;
    border: 0px dashed red;
    font-size: 1em;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

section.filters ul li {
    list-style: none;
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

section.streams-holder article {
    width: 20%;
    padding-bottom: 20%;
    margin: 2.5%;
    float: left;
    text-align: center;
    position: relative;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 200ms cubic-bezier(0.470, 0.000, 0.745, 0.715); 
    -moz-transition: all 200ms cubic-bezier(0.470, 0.000, 0.745, 0.715); 
    -o-transition: all 200ms cubic-bezier(0.470, 0.000, 0.745, 0.715); 
    transition: all 200ms cubic-bezier(0.470, 0.000, 0.745, 0.715); /* easeInSine */
}

section.streams-holder article:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

section.streams-holder article.shop-now {
    opacity: 0.5;
}

section.streams-holder article.shop-now:hover {
    opacity: 0.8;
}

section.streams-holder article span.icon {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
}

section.streams-holder article span.duration {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4px 7px;
    font-size: 0.8em;
}

section.streams-holder article span img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

section.streams-holder article:hover {
    
}

/* large play button */
section.streams-holder article strong {
    color: white;
    font-size: 3em;
    display: none;
    height: 200px;
    line-height: 180px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: 300ms opacity ease-in-out;
}

section.streams-holder article:hover strong {
    /*opacity: 100;*/
}

section.streams-holder article p {
    display: block;
    background-color: white;
    position: absolute;
    left: 10%;
    bottom: 10px;
    width: 90%;
    display: block;
    min-height: 30px;
    line-height: 30px;
    padding: 0 0 0 5%;
    text-align: left;
    font-size: 0.8em;
}

section.streams-holder article p span {
    display: none;
    text-align: left;
    color: #888;
}

section.streams-holder article:hover p {

}

section.streams-holder article p a {
    border: 0px solid red;
    -webkit-transition: all 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715); 
       -moz-transition: all 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715); 
         -o-transition: all 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715); 
            transition: all 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715); /* easeInSine */
}

section.streams-holder article:hover p a {
    color: #000;
    text-decoration: none;
}

section.streams-holder article img {
    display: block;
    width: 80%;
    max-width: 80%;
    margin: 0px auto;
}

/** ADD NEW **/

section.streams-holder article.add-new {
    width: 19.5%;
    margin: 2.5%;
    float: left;
    text-align: center;
    height: 190px;
    position: relative;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 0;
}

section.streams-holder article.add-new:hover {
    border: 2px dashed #555;
}

section.streams-holder article.add-new p {
    display: block;
    padding: 0px;
    margin: 0;
    position: relative;
    width: 100%;
    height: 50%;
    margin-top: 40%;
    text-align: center;
    bottom: inherit;
    left: inherit;
    font-size: 1em;
}

section.streams-holder article.add-new p i {
    font-size: 2em;
}

/* LISTEN NOW SCREEN */

#listen-now {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9998; /* kludge for QS */
    width: 100%;
    height: 100vh;

    margin: 0px;
    padding: 0px;

    font-size: 1.5em;

    /*background-color: rgba(40, 40, 40, 0.98);*/

    display: none;
}

.listen-now-bg {
    position: fixed;
    top: -15%;
    left: -15px;
    z-index: -1;
    width: 120%;
    height: 130vh;
    margin: 0;
    padding: 0;
    border: 5px solid white;
    
    background: url('../../meditations/bg/night_sky2.jpg');
    background-size: cover;
    background-position: center center;
    background-color: #fff;

    -webkit-filter : blur(10px);
    -moz-filter    : blur(10px);
    -o-filter      : blur(10px);
    -ms-filter     : blur(10px);
    filter         : blur(10px);
    
}

.audio-player {
    width: 40%;
    margin: 25% auto;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    /* quick kludge for centering */
    transform: translate(0%, -50%);

}

.audio-player header {
    padding: 3%;
}

.audio-player #close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    -webkit-transform: (1);

    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;

    display: none;
    text-decoration: none;
}

.audio-player #close:hover {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    text-decoration: none;
}

.cover-holder {
    float: left;
    width: 30%;
    padding: 0px;
    position: relative;
}

.cover-holder img#track-cover {
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid white;
}

.cover-holder img#track-icon {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 30px;
}

.cover-holder div#cover-holder {
    display: none;
}

.track-info {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 1em;
    padding: 15% 0 0 20px;
    float: left;
}

.track-info em {
    display: block;
    font-style: normal;
    font-size: 0.8em;
    font-weight: 300;
    margin-bottom: 10px;
}

.track-info strong {
    display: block;
    font-weight: 400;
    font-size: 1.2em;
    padding-left: 0px;
}

#track-progress {
    background-color: #eee;
    font-size: 0.6em;
    height: 30px;
    display: block;
    width: 100%;
    cursor: pointer;
    position: relative;
}

#progress-bar {
    background-color: #ccc;
    width: 0%;
    height: 100%;
    transition: width .25s linear;
    -webkit-transition: width .25s linear;
}

#buffer-bar {
    width: 0%;
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    transition: width .25s linear;
    -webkit-transition: width .25s linear;
}

.player-controls {
    background: #fff;
    margin-top: -1px; /* kludge */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul.custom-controls {
    list-style: none;
    list-style-type: none;
    border: 0px solid blue;
    width: 90%;
    margin: 0px auto;
    padding: 10px 0px;
}

ul.custom-controls li {
    float: left;
    text-align: center;
}

ul.custom-controls li.small {
    width: 30%;
    padding-top: 15px;
}

ul.custom-controls li.large {
    width: 40%;
}

.custom-controls a i {
    font-size: 3em;
    text-decoration: none;
    transition: all .3s linear;
    transform: scale(1);
}

.custom-controls a.smaller i {
    font-size: 1.75em;
    text-decoration: none;
}

.custom-controls a:link i,
.custom-controls a:visited i,
.custom-controls a:active i {
    color: #888;
    text-decoration: none;
}

.custom-controls a:active i {
    -webkit-animation: pressDown .3s; /* Safari 4+ */
    animation: pressDown .3s; /* IE 10+, Fx 29+ */
    text-decoration: none;
}

.custom-controls a:hover i {
    color: #555;
    text-decoration: none;
    transform: scale(1.1);
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* SPECIAL ANIMATION CLASSES */

.expandOut {
    -webkit-animation: expandOut .5s; /* Safari 4+ */
    animation: expandOut .5s; /* IE 10+, Fx 29+ */
}

.pressDown {
    -webkit-animation: pressDown .3s; /* Safari 4+ */
    animation: pressDown .3s; /* IE 10+, Fx 29+ */
}

.animFinish {
    opacity: 0;
}

.fadeIn {
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

.fadeOut {
    -webkit-animation: fade-out .5s;
    animation: fade-out .5s;
}

.fade-in-and-out {
    animation: fade-in-and-out 2s infinite;
    -webkit-animation: fade-in-and-out 2s infinite;
}

.text-animated-one{
    display: block;
    position: absolute;
    top:0px;
    left: 0px;
    text-align: center;
    width: 100%;
    -webkit-animation:fade-in 6s infinite;
}

.text-animated-two{
    opacity:0;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    -webkit-animation:fade-in 6s infinite;
    -webkit-animation-delay: 3s;
}

.animated-text{
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
}

/* Special desktop browser calls */

@media only screen and (max-width : 1440px) {
    .audio-player {
        width: 55%;
        transform: translate(0%, -40%);
        border: 0px solid blue;
    }
}

@media only screen and (max-width : 1280px) {
    .audio-player {
        width: 65%;
        transform: translate(0%, -45%);
        border: 0px solid red;
    }

    section.streams-holder {
        width: 80%;
    }
}



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    #listen-now-bg {
        filter: none;
        -webkit-filter: none;
        -o-filter: none;
        -moz-filter: none;
        -ms-filter: none;
    }

}

/* tablets and 1024 devices - landscape orientations at bottom of file */

@media only screen and (max-width : 1024px) {
    html {
        margin-top: 0px !important;
    }

    html #wpadminbar {
        display: none;
    }

    h2 {
        font-size: 1.2em;
        margin-bottom: 30px;
        text-align: center;
    }

    h2.stream-header {
        color: #888;
        text-transform: uppercase;
        font-size: 1.8em;
        letter-spacing: 1px; 
        margin-top: 20px;
    }

    .admin-bar #header-outer, .logged-in.buddypress #header-outer {
        top: 0px;
    }

    section.bg-head div p {
        max-width: 85%;
        font-size: 1em;
    }

    section.filters {
        display: none;
    }

    section.streams-holder {
        width: 90%;
    }

    section.streams-holder article {
        width: 40%;
        padding-bottom: 40%;
        margin: 5%;
        float: left;
        text-align: center;
        position: relative;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
    }

    section.streams-holder article.add-new {
        width: 40%;
        margin: 5%;
        float: left;
        text-align: center;
        position: relative;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        border: 2px dashed #ccc;
        border-radius: 10px;
        padding: 0;
    }

    section.streams-holder article.add-new:hover {
        border: 2px dashed #555;
    }

    section.streams-holder article.add-new p {
        display: block;
        padding: 0px;
        margin: 0;
        position: relative;
        width: 100%;
        height: 50%;
        margin-top: 40%;
        text-align: center;
        bottom: inherit;
        left: inherit;
        font-size: 1em;
    }

    section.streams-holder article.add-new p i {
        font-size: 2em;
    }

    section#player-icons {
        width: 80%;
    }

    .audio-player {
        width: 100%;
        height: 100vh;
        margin: 0;
        background: #fff;
        background-size: cover;
        background-position: center center;
        background: transparent;
        background-attachment: scroll;
        position: relative;
        border-radius: 0px;
        padding: 0;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

        /* quick kludge for centering */
        transform: none;

    }

    .audio-player>header {
        height: 60vh;
        padding: 5vh 0;
    }

    section.player-controls {
        height: 30vh;
        position: absolute;
        bottom: 0px;
        width: 100%;
        border-radius: 0px;
        padding: 0;
        padding-bottom: 0px;
        -webkit-border-radius: 0px;
        background: rgba(255,255,255,1);
        display: table;
    }

    #track-progress {
        height: 40px;
        width: 100%;
        background-color: #eee;
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        z-index: 100;
    }

    .controls-holder {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }    

    .cover-holder {
        float: none;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 40%;
        height: initial;
        padding-bottom: 40%;
        margin: 0px auto 20px auto;
        border: 3px solid white;
        background-image: url('../../meditations/covers/Lift-200.jpg');
        background-size: cover;
    }

    .cover-holder img#track-cover {
        display: inline;
        width: inherit;
        width: 100%;
        height: 100%;
        position: relative;
        display: none;
    }

    #track-icon {
        display: ;
    }

    .track-info {
        float: none;
        text-align: center;
        width: 100%;
        height: 25vh;
        padding: 0;
        overflow: auto;
        font-size: 0.8em;
    }

    .listen-now-bg {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        background-size: cover;
    }

    #close {
        z-index: 100;
    }

    p#track-status {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 780px) {
    .cover-holder {
        width: 60%;
        padding-bottom: 60%;
        border: 3px solid white;
    }

    html {
        margin-top: 0px !important;
    }

    html #wpadminbar {
        display: none;
    }
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
    .cover-holder {
        float: none;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 30%;
        height: initial;
        padding-bottom: 30%;
        margin: 0px auto 20px auto;
        border: 3px solid white;
        background-image: url('../../meditations/covers/Lift-200.jpg');
        background-size: cover;
    }
}

/* mobile views - landscape and iPhone orientations at bottom */

@media only screen and (max-width : 690px) {
    body {
        min-height: 100vh;
        border: 3px solid blue;
    }

    h1, h1.lobster {
        font-size: 1em;
    }

    h1.page {
        font-size: 1.8em;
        line-height: 1.6em;
    }

    h2.stream-header {
        color: #888;
        text-transform: uppercase;
        font-size: 1.4em;
        letter-spacing: 1px; 
        max-width: 80%;
        text-align: center;
        margin: 30px auto;
        line-height: 1.3em;
    }

    hr.stream-header {
        max-width: 90%;
    }

    section.bg-head div p {
        max-width: 85%;
        font-size: 1em;
    }

    section.bg-head div p.bg {
        font-size: 0.8em;
    }

    section.bg-head {
        height: 100%;
    }

    section.streams-holder {
        width: 100%;
        padding-bottom: 10px;
    }

    section.streams-holder article {
        width: 45%;
        padding-bottom: 45%;
        margin: 2.5%;
        float: left;
        text-align: center;
        position: relative;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        font-size: 0.8em;
    }

    img#track-icon {
        max-width: 50px;
    }
}

/* Retina */
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
    #listen-now {
        height: 100%;
    }

    .listen-now-bg {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        
        background: url('../../meditations/bg/night_sky2.jpg');
        background-size: cover;
        background-position: center center;
        background-color: inherit;

        -webkit-filter: none; /* Prefixed CSS3 blur filters */
        -moz-filter: none; 
        -o-filter: none; 
    }

    .audio-player {
        height: 100%;
        box-shadow: none;
    }

    .audio-player>header {
        height: 40%;
        padding: 10% 0 0 0;
    }

    section.player-controls {
        height: 30%;
    }

    audio {
        opacity: 0;
        height: 0px;
        width: 0px;
    }

    .cover-holder {
        width: 30%;
        padding-bottom: 30%;
    }

    .track-info {
        height: 60%;
        overflow: auto;
    }
}

/* landscape devices */

@media only screen and (max-height: 750px) and (orientation: landscape) { 
    .audio-player>header {
        display: table;
        width: 100%;
    }

    .cover-holder {
        display: none;
    }

    .cover-holder img#track-cover {
        display: none;
        width: 100%;
        height: 100%;
        border: 3px solid white;
    }

    .cover-holder img#track-icon {
        position: absolute;
        top: 10px;
        right: 5px;
        width: 30px;
    }

    .track-info {
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        font-size: 1em;
        padding: 0% 0 0 0px;
        float: none;
        width: 94%;
        height: 100%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .track-info em {
        display: block;
        font-style: normal;
        font-size: 0.8em;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .track-info strong {
        display: block;
        font-weight: 400;
        font-size: 1.2em;
        padding-left: 0px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) { 
    /* iphone 5/5s in portrait */
    section.player-controls {
        height: 30%;
        bottom: 0px;
        padding-bottom: 0px;
    }

    html {
        /* enough space to scroll up to get fullscreen on iOS8 */
        padding-bottom: 80px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) { 
    /* iphone 5/5s in portrait */
    html {
        /* enough space to scroll up to get fullscreen on iOS8 */
        padding-bottom: 80px;
    }

    section.player-controls {
        height: 30%;
        bottom: 0px;
        padding-bottom: 0px;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
    /* iPhone 6/6+/6s/6s+ in portrait */
    section.player-controls {
        height: 30%;
        bottom: 0px;
        padding-bottom: 40px;
    }

    html {
        /* enough space to scroll up to get fullscreen on iOS8 */
        padding-bottom: 80px;
    }

}

@supports (-ms-accelerator:true) {
    /* Edge browser */
    #listen-now-bg {
        filter: none;
        -webkit-filter: none;
        -o-filter: none;
        -moz-filter: none;
        -ms-filter: none;
    }
}



/* KEY FRAMES */

@-webkit-keyframes fade-in-and-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-and-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in{
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }
    
    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: inherit;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes pressUp {
    0%   { 
        transform: scale(1); 
        -webkit-transform: scale(1); 
    }
    50%   { 
        transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
    }
    100% { 
        transform: scale(1);
       -webkit-transform: scale(1);
    }
}
@keyframes pressUp {
    0%   { 
        transform: scale(1);
       -webkit-transform: scale(1); 
    }
    50%   { 
        transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
    }    
    100% { 
        transform: scale(1);
       -webkit-transform: scale(1);
    }
}

@-webkit-keyframes pressDown {
    0%   { 
        transform: scale(1); 
        -webkit-transform: scale(1); 
    }
    50%   { 
        transform: scale(0.95); 
        -webkit-transform: scale(0.95); 
    }
    100% { 
        transform: scale(1);
       -webkit-transform: scale(1);
    }
}
@keyframes pressDown {
    0%   { 
        transform: scale(1);
       -webkit-transform: scale(1); 
    }
    50%   { 
        transform: scale(0.95); 
        -webkit-transform: scale(0.95); 
    }    
    100% { 
        transform: scale(1);
       -webkit-transform: scale(1);
    }
}

@-webkit-keyframes expandOut {
    0%   { 
        transform: scale(1); 
        -webkit-transform: scale(1); 
        opacity: 1; 
    }
    100% { 
        transform: scale(3);
       -webkit-transform: scale(3);
        opacity: 0; 
    }
}
@keyframes expandOut {
    0%   { 
        transform: scale(1);
       -webkit-transform: scale(1);
        opacity: 1; 
    }
    
    100% { 
        transform: scale(3);
       -webkit-transform: scale(3);
        opacity: 0; 
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}
